@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  /* Slate 50 */
  --foreground: #1e293b;
  /* Slate 800 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #f1f5f9;
  /* Slate 100 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}